<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="Godless Lands Game"/>
	</extensions>
	<targets>
		<!--
      Данная цель сохраняет лог в файл вида logs\2018-04-20.log
      вид сообщения: 2018-04-20 12:27:05.9121 DEBUG debug message
 -->
		<target xsi:type="File" name="filedata" fileName="${basedir}/Logs/${shortdate}.log"
						 layout="[${longdate}] [${callsite}] [${uppercase:${level}}] - ${message}" />
		<target name="Terminal" type="TerminalAppender"
				layout="[${longdate}] [${threadid}] [${callsite}] [${uppercase:${level}}] - ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Information" writeTo="filedata" />
		<logger name="*" minlevel="Debug" writeTo="Terminal" />
	</rules>
</nlog>
